.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;

}

h1 {
  font-size: 50px;
}

.container1 {
  width: 80%;
}

h2 {
  font-size: 35px;
  color: #cf2e2e;
}

p {
  font-size: 22px;
}

span {
  color: #cf2e2e;
  font-weight: bold;
}

button {
  background: white;
  border: none;
  font-size: 18px;
  color: #0071c2
}

@media all and (max-width: 700px) {

  h1 {
    font-size: 35px;
  }
  .container1 {
    width: 95%;
  }

  h2 {
    font-size: 25px;
  }
}

@media all and (max-width: 00px) {
  h1 {
    font-size: 30px;
  }
}

